# made by Markdown/org-mode
*.html

# Python
__pycache__
*.pyc
*.pkl

# LaTeX
*.aux
*.bbl
*.bcf
*.bib.bak
*.bib.sav
*.blg
*.fdb_latexmk
*.fls
*.log
*.lox
*.nav
*.out
*.run.xml
*.snm
*.toc
*.xdv

notes.pdf
notes.tex

# Don't ignore this, that way latexdiff can be used.
# proposal/proposal.tex

.ipynb_checkpoints
